@using BibliotekarzBlazor.Pages.Authentication
@using Microsoft.AspNetCore.Components.Authorization

@* CascadingAuthenticationState przekazuje informacje o zalogowanym użytkowniku wgłąb aplikacji (do wszystkich komponentów wewnątrz) *@
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @* 
                AuthorizeRouteView używamy aby przekierować przekierować niezalogowanego użytkownika na stronę logowania (jeśli strona tego wymaga)
                Przekierowanie robimy za pomocą RedirectToLogin (naszego autorskiego komponentu)
            *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Please wait, we are authorizing the user!</p>
                </Authorizing>
                <NotAuthorized>
                    <RedirectToLogin></RedirectToLogin>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>